body {
background-color: #A00A03;
text-align: center;
}

タイトル {
margin: 0;
}

#タイトル {
background-color: #A13A36;
color: #FFEB14;
padding: 1px;
}

#サブテキスト1 {
color: #05FFEF;
}

#文1 {
color: #75C8FF;
}

#リンク {
color: #ff7605;
}

#著作権 {
color: #ff3129;
}